<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticker Tracker</title>
</head>
<body>
    <h1>Ticker Tracker</h1>

    <table>
        <th>Status</th>
        <th>Ticker</th>
        <th>Position</th>
        <th>Date Opened</th>
        <th>Trade ($)</th>
        <th>Opening ($)</th>
        <th>Closing ($)</th>
        <th>Date Closed</th>
        <th>Profit/Loss ($)</th>
        <th>Result</th>
        {% for ticker in tracker%}
        <tr>
            <td>{{ ticker.status }}</td>
            <td>{{ ticker.ticker }}</td>
            <td>{{ ticker.position }}</td>
            <td>{{ ticker.date_opened }}</td>
            <td>{{ ticker.amount_traded }}</td>
            <td>{{ ticker.opening_price }}</td>
            <td>{{ ticker.closing_price }}</td>
            <td>{{ ticker.date_closed }}</td>
            <td>{{ ticker.profit_loss }}</td>
            <td>{{ ticker.result }}</td>
            <td>
                <a href="/edit_trade/ {{ ticker.id }}">
                    <button>Edit Trade</button>
                </a>
            </td>
            <td>
                <a href="/delete_trade/ {{ ticker.id }}">
                    <button>Delete Trade</button>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td>There are currently no trades to track</td></tr>
        {% endfor %}
    </table>
    <a href="/add_trade"><button>Add a Trade</button></a>

</body>
</html>