@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

table {
    margin: 3rem;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    margin: 3rem;
    font-size: 4rem;
    font-weight: 600;
}

.table_header {
    padding: .5rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}


td {
    margin: .5rem;
    padding: .5rem;
    border-bottom: 1px solid black;
}


.add_button {
    margin-left: 3rem;
    font-size: 1.5rem;
    padding: .4rem;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.edit_button {
    margin-left: 1rem;
    font-size: 1rem;
    padding: .4rem;
    background-color: rgb(30, 145, 58);
    color: white;
    border-radius: 10px;
}

.delete_button {
    margin-left: 1rem;
    font-size: 1rem;
    padding: .4rem;
    background-color: red;
    color: white;
    border-radius: 10px;
}